# Tuplas

In [1]:
t1 = (1, 'cct', True, 3.4)
t1

(1, 'cct', True, 3.4)

In [2]:
t1[0]

1

In [4]:
t1[0] = 'e'

TypeError: 'tuple' object does not support item assignment

In [5]:
l = list(t1)
l

[1, 'cct', True, 3.4]

In [6]:
l[0] = 'e'

In [7]:
t2  = tuple(l)
t2

('e', 'cct', True, 3.4)

In [8]:
len(t2)

4

In [9]:
o1, o2, o3, o4 = t2

In [10]:
o1

'e'

In [11]:
o2, o3, o4

('cct', True, 3.4)

# Set - Conjunto

In [12]:
s = [ 1, 2, 3, 3, 4, 5, 5, 5, 6]
s

[1, 2, 3, 3, 4, 5, 5, 5, 6]

In [13]:
len(s)

9

In [14]:
c = set(s)
c

{1, 2, 3, 4, 5, 6}

# Dicion√°rio

In [17]:
d1 = { 'computacao': 'cct', 'aluno': "Pedro", 'idade': 21 }
d1

{'computacao': 'cct', 'aluno': 'Pedro', 'idade': 21}

In [16]:
type(d1)

dict

In [18]:
d1['aluno']

'Pedro'

In [19]:
i = d1['idade']
i

21

In [20]:
d1['dc'] = 25
d1

{'computacao': 'cct', 'aluno': 'Pedro', 'idade': 21, 'dc': 25}

In [21]:
d1.keys()

dict_keys(['computacao', 'aluno', 'idade', 'dc'])

In [22]:
d1.values()

dict_values(['cct', 'Pedro', 21, 25])

In [23]:
d1.items()

dict_items([('computacao', 'cct'), ('aluno', 'Pedro'), ('idade', 21), ('dc', 25)])

In [24]:
d = d1.items()
d

dict_items([('computacao', 'cct'), ('aluno', 'Pedro'), ('idade', 21), ('dc', 25)])

In [25]:
d = list(d)
d

[('computacao', 'cct'), ('aluno', 'Pedro'), ('idade', 21), ('dc', 25)]

In [26]:
d[0]

('computacao', 'cct')

In [27]:
d[0][0]

'computacao'

In [28]:
d[0][1]

'cct'

In [29]:
d2 = { 'Ana': 9, 'Paulo': 8.5, 'Pedro': 7}
d2

{'Ana': 9, 'Paulo': 8.5, 'Pedro': 7}

In [30]:
d1

{'computacao': 'cct', 'aluno': 'Pedro', 'idade': 21, 'dc': 25}

In [31]:
d2['disciplinas'] = ['TEBD', 'CG', 'IA']
d2

{'Ana': 9, 'Paulo': 8.5, 'Pedro': 7, 'disciplinas': ['TEBD', 'CG', 'IA']}

In [32]:
d2['disciplinas']

['TEBD', 'CG', 'IA']

In [37]:
d2['endereco'] = {  'rua': 'Bara√∫nas', 'numero': 620, 'bairro': 'Bodocong√≥' }
d2

{'Ana': 9,
 'Paulo': 8.5,
 'Pedro': 7,
 'disciplinas': ['TEBD', 'CG', 'IA'],
 'endereco': {'rua': 'Bara√∫nas', 'numero': 620, 'bairro': 'Bodocong√≥'}}

In [34]:
d2['endereco']

{'rua': 'Bara√∫nas', 'numero': 620, 'bairro': 'Bodocong√≥'}

In [35]:
d2['endereco']['numero']

620

In [36]:
d2.keys()

dict_keys(['Ana', 'Paulo', 'Pedro', 'disciplinas', 'endereco'])

In [38]:
d2.values()

dict_values([9, 8.5, 7, ['TEBD', 'CG', 'IA'], {'rua': 'Bara√∫nas', 'numero': 620, 'bairro': 'Bodocong√≥'}])

In [39]:
d2.items()

dict_items([('Ana', 9), ('Paulo', 8.5), ('Pedro', 7), ('disciplinas', ['TEBD', 'CG', 'IA']), ('endereco', {'rua': 'Bara√∫nas', 'numero': 620, 'bairro': 'Bodocong√≥'})])

# Comando for

In [40]:
range(10)

range(0, 10)

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
for elem in range(10):
    print(elem)

0
1
2
3
4
5
6
7
8
9

In [43]:
l = [ 'uepb', 'cct', 10.1, True, 'data science']
l

['uepb', 'cct', 10.1, True, 'data science']

In [44]:
for elem in l:
    print(elem)

uepb
cct
10.1
True
data science

In [45]:
d2

{'Ana': 9,
 'Paulo': 8.5,
 'Pedro': 7,
 'disciplinas': ['TEBD', 'CG', 'IA'],
 'endereco': {'rua': 'Bara√∫nas', 'numero': 620, 'bairro': 'Bodocong√≥'}}

In [46]:
d2.items()

dict_items([('Ana', 9), ('Paulo', 8.5), ('Pedro', 7), ('disciplinas', ['TEBD', 'CG', 'IA']), ('endereco', {'rua': 'Bara√∫nas', 'numero': 620, 'bairro': 'Bodocong√≥'})])

In [48]:
for chave, valor in d2.items():
    print(chave, ':', valor)

Ana : 9
Paulo : 8.5
Pedro : 7
disciplinas : ['TEBD', 'CG', 'IA']
endereco : {'rua': 'Bara√∫nas', 'numero': 620, 'bairro': 'Bodocong√≥'}

In [49]:
c = 0
while c < 10:
    print(c)
    c += 1

0
1
2
3
4
5
6
7
8
9

In [50]:
c = 0
while c < 10:
    print(c)
    if c == 6:
        break
    c += 1

0
1
2
3
4
5
6

# Dataframes = Tabela

In [51]:
import pandas as pd

In [52]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [53]:
df['nome'] = ['tcc', 'TEBD', 'IA']
df

   nome
0   tcc
1  TEBD
2    IA

In [54]:
df['carga_horaria'] = [ 90, 70, 120]
df

   nome  carga_horaria
0   tcc             90
1  TEBD             70
2    IA            120

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome           3 non-null      object
 1   carga_horaria  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [ ]:
Pais				Total_de_doses_aplicadas	Pessoas_totalmente_vacinadas percent_da_popula√ß√£o_vacinada
China continental	2612218000					1162488000				 		82.9
√çndia				1380223188					551003319					 	40.5
Estados Unidos		496239573					202527536					 	61.5
Brasil				325593485					141702263					 	67.1

In [58]:
data = {
    'Pais': [ 'China', 'India', 'USA', "Brasil" ],
    'Total_de_doses_aplicadas': [ 2612218000, 1380223188, 496239573, 325593485  ],
    'percent_da_popula√ß√£o_vacinada':[82.9, 40.5, 61.5, 67.1  ]     
}
data

{'Pais': ['China', 'India', 'USA', 'Brasil'],
 'Total_de_doses_aplicadas': [2612218000, 1380223188, 496239573, 325593485],
 'percent_da_popula√ß√£o_vacinada': [82.9, 40.5, 61.5, 67.1]}

In [59]:
df = pd.DataFrame(data)
df

     Pais  Total_de_doses_aplicadas  percent_da_popula√ß√£o_vacinada
0   China                2612218000                           82.9
1   India                1380223188                           40.5
2     USA                 496239573                           61.5
3  Brasil                 325593485                           67.1

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Pais                           4 non-null      object
 1   Total_de_doses_aplicadas       4 non-null      int64
 2   percent_da_popula√ß√£o_vacinada  4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

In [61]:
df

     Pais  Total_de_doses_aplicadas  percent_da_popula√ß√£o_vacinada
0   China                2612218000                           82.9
1   India                1380223188                           40.5
2     USA                 496239573                           61.5
3  Brasil                 325593485                           67.1

In [62]:
df[ ['Pais', 'percent_da_popula√ß√£o_vacinada'] ]

     Pais  percent_da_popula√ß√£o_vacinada
0   China                           82.9
1   India                           40.5
2     USA                           61.5
3  Brasil                           67.1

In [63]:
s = df.Total_de_doses_aplicadas.values
s

array([2612218000, 1380223188,  496239573,  325593485])

In [64]:
s[0]

2612218000

In [66]:
v = df.Total_de_doses_aplicadas.sum()
v

4814274246

In [67]:
print('{:,d}'.format(v))

4,814,274,246

In [70]:
df.percent_da_popula√ß√£o_vacinada.mean()

63.0

In [72]:
print('{:.0f}'.format(df.percent_da_popula√ß√£o_vacinada.mean()))

63

# Dataset Covid Brasil

In [73]:
!pwd

/home/valencar/Dropbox/AULAS-REMOTAS/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/Python-Para-Analise-de-Dados/NOITE

In [76]:
!ls /home/valencar/Dropbox/AULAS-REMOTAS/datasets/covid19-21-dez-2021.csv

 11-22-2021.csv
 covid19-21-dez-2021.csv
 covid19-22-Nov-2021-Noite.ipynb
 datasets-OpenData.txt
 heroku.txt
 images_test
 images_test-02
 mongo-dataset.csv
 tmp
'web: streamlit run --server.enableCORS false --ser'

In [77]:
url = '/home/valencar/Dropbox/AULAS-REMOTAS/datasets/covid19-21-dez-2021.csv'
url

'/home/valencar/Dropbox/AULAS-REMOTAS/datasets/covid19-21-dez-2021.csv'

In [78]:
df = pd.read_csv(url)
df.head()

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2021-12-21,AC,NaN,state,88339,1850,True,894470,12,9876.12776,0.0209
1,2021-12-21,AL,NaN,state,241911,6381,True,3351543,27,7217.89934,0.0264
2,2021-12-21,AM,NaN,state,432835,13822,True,4207714,13,10286.70200,0.0319
3,2021-12-21,AP,NaN,state,126309,2010,True,861773,16,14656.87600,0.0159
4,2021-12-21,BA,NaN,state,1264804,27444,True,14930634,29,8471.20089,0.0217

In [79]:
len(df)

19