## Trabalhando com Big Data - 20 Milhões de Registros
fonte: https://grouplens.org/datasets/movielens/

In [2]:
import pandas as pd

In [7]:
url = 'C:\\Users\\valen\\Dropbox\\AULAS-REMOTAS\\BD-ESTATISTICA-MANHA\\datasets\\ml-20m\\'
url

'C:\\Users\\valen\\Dropbox\\AULAS-REMOTAS\\BD-ESTATISTICA-MANHA\\datasets\\ml-20m\\'

In [13]:
!dir C:\Users\valen\Dropbox\AULAS-REMOTAS\BD-ESTATISTICA-MANHA\datasets\ml-20m

 O volume na unidade C ‚ Windows10
 O N£mero de S‚rie do Volume ‚ E699-979D

 Pasta de C:\Users\valen\Dropbox\AULAS-REMOTAS\BD-ESTATISTICA-MANHA\datasets\ml-20m

01/02/2022  21:21    <DIR>          .
01/02/2022  21:21    <DIR>          ..
20/12/2021  17:50       (1.161.606) filmes-ratings.csv
20/12/2021  21:38          (47.241) filmes2.csv
20/12/2021  22:20   (1.200.559.732) filmes4.csv
21/12/2021  05:20     (301.108.993) filmes4.csv.zip
17/10/2016  11:41     (323.544.381) genome-scores.csv
17/10/2016  11:41          (18.103) genome-tags.csv
17/10/2016  11:50         (570.090) links.csv
23/12/2021  15:31           (2.394) ml-20m.sql
31/03/2015  18:17       (1.397.542) movies.csv
31/03/2015  18:14       533.444.411 ratings.csv
17/10/2016  12:21          (10.261) README.txt
31/03/2015  18:01      (16.603.996) tags.csv
              12 arquivo(s)  2.378.468.750 bytes
               2 pasta(s)   17.656.827.904 bytes dispon¡veis

In [17]:
%%time

file = 'movies.csv'
dfm = pd.read_csv(url + file) #, header=None)
#df.columns = ['id_user', 'id_titulo', 'titulo', 'rating', 'timestamp']
print('total de registros: {:,d}'.format(len(dfm)))

total de registros: 27,278
Wall time: 86.3 ms

In [10]:
dfm.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [18]:
%%time

file = 'ratings.csv'
dfr = pd.read_csv(url + file ) #, header=None)
#df.columns = ['id_user', 'id_titulo', 'titulo', 'rating', 'timestamp']
print('total de registros: {:,d}'.format(len(dfr)))

total de registros: 20,000,263
Wall time: 20.5 s

In [19]:
dfr.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580