In [ ]:
# Instala o pacote
#!pip install category-encoders

In [1]:
# Imports
import pandas as pd
import category_encoders as ce

# Cria um Dataframe
data = pd.DataFrame({ 'sexo' : ['Masculino', 'Feminino', 'Masculino', 'Feminino'],
'classe' : ['A', 'B', 'C', 'B'],
'cidade' : ['Natal', 'Recife', 'Fortaleza', 'Blumenau'] })

# Visualiza o dataframe
data.head()

        sexo classe     cidade
0  Masculino      A      Natal
1   Feminino      B     Recife
2  Masculino      C  Fortaleza
3   Feminino      B   Blumenau

In [2]:
# Cria o encoder para duas vari√°veis
ce_OHE = ce.OneHotEncoder(cols=['sexo','cidade'])

# Aplica o encoder aos dados
data = ce_OHE.fit_transform(data)

# Feito!
data.head()

   sexo_1  sexo_2 classe  cidade_1  cidade_2  cidade_3  cidade_4
0       1       0      A         1         0         0         0
1       0       1      B         0         1         0         0
2       1       0      C         0         0         1         0
3       0       1      B         0         0         0         1