# DataFrame - Converte categórico para inteiro

In [2]:
import pandas as pd

In [2]:
!pwd

'pwd' nÆo ‚ reconhecido como um comando interno
ou externo, um programa oper vel ou um arquivo em lotes.

In [20]:
attribs = ["buying", "maint","doors", "persons", "lug_goot", "safety", "Class" ]
df = pd.read_csv("car.data",header=None) 
df.columns = attribs

df.head()

  buying  maint doors persons lug_goot safety  Class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [21]:
df['buying'] =  df['buying'].astype('category')
df.head()

  buying  maint doors persons lug_goot safety  Class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   category
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_goot  1728 non-null   object
 5   safety    1728 non-null   object
 6   Class     1728 non-null   object
dtypes: category(1), object(6)
memory usage: 83.0+ KB

In [23]:
set(df.buying.values)

{'high', 'low', 'med', 'vhigh'}

In [24]:
map = {}
for item in set(df.buying.values):
    map[item] = df["buying"].cat.categories.get_loc(item)
map

{'high': 0, 'vhigh': 3, 'med': 2, 'low': 1}

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   category
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_goot  1728 non-null   object
 5   safety    1728 non-null   object
 6   Class     1728 non-null   object
dtypes: category(1), object(6)
memory usage: 83.0+ KB

In [31]:
df['buying'].values

['vhigh', 'vhigh', 'vhigh', 'vhigh', 'vhigh', ..., 'low', 'low', 'low', 'low', 'low']
Length: 1728
Categories (4, object): ['high', 'low', 'med', 'vhigh']

In [32]:
df['buying'].cat.codes

0       3
1       3
2       3
3       3
4       3
       ..
1723    1
1724    1
1725    1
1726    1
1727    1
Length: 1728, dtype: int8

In [33]:
df.buying.cat.categories[df.buying.cat.codes]

Index(['vhigh', 'vhigh', 'vhigh', 'vhigh', 'vhigh', 'vhigh', 'vhigh', 'vhigh',
       'vhigh', 'vhigh',
       ...
       'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low'],
      dtype='object', length=1728)

In [34]:
df['buying'] = df['buying'].cat.codes
df.head()

   buying  maint doors persons lug_goot safety  Class
0       3  vhigh     2       2    small    low  unacc
1       3  vhigh     2       2    small    med  unacc
2       3  vhigh     2       2    small   high  unacc
3       3  vhigh     2       2      med    low  unacc
4       3  vhigh     2       2      med    med  unacc

In [35]:
df.tail()

      buying maint  doors persons lug_goot safety  Class
1723       1   low  5more    more      med    med   good
1724       1   low  5more    more      med   high  vgood
1725       1   low  5more    more      big    low  unacc
1726       1   low  5more    more      big    med   good
1727       1   low  5more    more      big   high  vgood

In [36]:
len(df)

1728

In [37]:
df.isna().sum()

buying      0
maint       0
doors       0
persons     0
lug_goot    0
safety      0
Class       0
dtype: int64

In [38]:
df['buying'].value_counts()

3    432
0    432
2    432
1    432
Name: buying, dtype: int64

# Exemplo de conversão de Atributo Categórico para Inteiro

In [39]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
animais = [ 'gato', 'arara', 'elefante','cachorro', 'cachorro', 'gato', 'arara', 'gato', 'arara', 'cachorro']
animais_categoria = le.fit_transform(animais)
print(le.classes_)
print(animais_categoria)
print(list(le.inverse_transform(animais_categoria)))

['arara' 'cachorro' 'elefante' 'gato']
[3 0 2 1 1 3 0 3 0 1]
['gato', 'arara', 'elefante', 'cachorro', 'cachorro', 'gato', 'arara', 'gato', 'arara', 'cachorro']

# Funções de Conversão

In [40]:
from sklearn import preprocessing
def converte_categoria_para_inteiro(valores):
    le = preprocessing.LabelEncoder()
    inteiros = le.fit_transform(valores)
    print (set(le.inverse_transform(inteiros)))
    return le, inteiros

obj, df['buying'] = converte_categoria_para_inteiro(df['buying'])
df.head()

{0, 1, 2, 3}

   buying  maint doors persons lug_goot safety  Class
0       3  vhigh     2       2    small    low  unacc
1       3  vhigh     2       2    small    med  unacc
2       3  vhigh     2       2    small   high  unacc
3       3  vhigh     2       2      med    low  unacc
4       3  vhigh     2       2      med    med  unacc

In [41]:
df['buying'].value_counts()

3    432
0    432
2    432
1    432
Name: buying, dtype: int64

In [42]:
from sklearn import preprocessing
def converte_inteiro_para_categoria(obj,valores):
    valores_categorias = obj.inverse_transform(valores)
    print (obj.classes_)
    return valores_categorias

df['buying'] = converte_inteiro_para_categoria(obj, df['buying'])
df.head()

[0 1 2 3]

   buying  maint doors persons lug_goot safety  Class
0       3  vhigh     2       2    small    low  unacc
1       3  vhigh     2       2    small    med  unacc
2       3  vhigh     2       2    small   high  unacc
3       3  vhigh     2       2      med    low  unacc
4       3  vhigh     2       2      med    med  unacc

In [43]:
df['buying'].value_counts()

3    432
0    432
2    432
1    432
Name: buying, dtype: int64

## converter todos os atributos categóricos

In [44]:
# excluir a classe
atributos = list(df.columns.values)[:-1]
atributos

['buying', 'maint', 'doors', 'persons', 'lug_goot', 'safety']

In [46]:
# converter todos os atributos categóricos
objetos = []
for atributo in atributos:
    obj, df[atributo] = converte_categoria_para_inteiro(df[atributo])
    objetos.append(obj)
df.head()

{0, 1, 2, 3}
{'high', 'vhigh', 'med', 'low'}
{'5more', '2', '3', '4'}
{'more', '2', '4'}
{'small', 'med', 'big'}
{'high', 'med', 'low'}

   buying  maint  doors  persons  lug_goot  safety  Class
0       3      3      0        0         2       1  unacc
1       3      3      0        0         2       2  unacc
2       3      3      0        0         2       0  unacc
3       3      3      0        0         1       1  unacc
4       3      3      0        0         1       2  unacc

## Converter inteiro para as categorias de volta

In [47]:
# objetos - tem todas as codificacoes do dataframe
i = 0
for atributo in atributos:
    obj = objetos[i]
    print(obj.classes_)
    df[atributo] = converte_inteiro_para_categoria(obj, df[atributo])
    i +=1
df.head()

[0 1 2 3]
[0 1 2 3]
['high' 'low' 'med' 'vhigh']
['high' 'low' 'med' 'vhigh']
['2' '3' '4' '5more']
['2' '3' '4' '5more']
['2' '4' 'more']
['2' '4' 'more']
['big' 'med' 'small']
['big' 'med' 'small']
['high' 'low' 'med']
['high' 'low' 'med']

   buying  maint doors persons lug_goot safety  Class
0       3  vhigh     2       2    small    low  unacc
1       3  vhigh     2       2    small    med  unacc
2       3  vhigh     2       2    small   high  unacc
3       3  vhigh     2       2      med    low  unacc
4       3  vhigh     2       2      med    med  unacc

In [23]:
df.head()

   buying  maint doors persons lug_goot safety  Class
0       3  vhigh     2       2    small    low  unacc
1       3  vhigh     2       2    small    med  unacc
2       3  vhigh     2       2    small   high  unacc
3       3  vhigh     2       2      med    low  unacc
4       3  vhigh     2       2      med    med  unacc

In [48]:
df['buying'] =  df['buying'].astype('category')
df.head()

  buying  maint doors persons lug_goot safety  Class
0      3  vhigh     2       2    small    low  unacc
1      3  vhigh     2       2    small    med  unacc
2      3  vhigh     2       2    small   high  unacc
3      3  vhigh     2       2      med    low  unacc
4      3  vhigh     2       2      med    med  unacc

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   category
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_goot  1728 non-null   object
 5   safety    1728 non-null   object
 6   Class     1728 non-null   object
dtypes: category(1), object(6)
memory usage: 83.0+ KB

In [50]:
df['buying'] = df['buying'].cat.codes
df.head()

   buying  maint doors persons lug_goot safety  Class
0       3  vhigh     2       2    small    low  unacc
1       3  vhigh     2       2    small    med  unacc
2       3  vhigh     2       2    small   high  unacc
3       3  vhigh     2       2      med    low  unacc
4       3  vhigh     2       2      med    med  unacc