# DataFrame - Converte categórico para inteiro

In [1]:
import pandas as pd

In [15]:
!pwd

/Users/vladimiralencar/Dropbox/BigDataAnalytics/python/car-aluno

In [2]:
attribs = ["buying", "maint","doors", "persons", "lug_goot", "safety", "Class" ]
df = pd.read_csv("car.data",header=None) 
df.columns = attribs

df.head()

  buying  maint doors persons lug_goot safety  Class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [3]:
df.tail()

     buying maint  doors persons lug_goot safety  Class
1723    low   low  5more    more      med    med   good
1724    low   low  5more    more      med   high  vgood
1725    low   low  5more    more      big    low  unacc
1726    low   low  5more    more      big    med   good
1727    low   low  5more    more      big   high  vgood

In [4]:
len(df)

1728

In [5]:
df.isna().sum()

buying      0
maint       0
doors       0
persons     0
lug_goot    0
safety      0
Class       0
dtype: int64

In [6]:
df['buying'].value_counts()

high     432
low      432
vhigh    432
med      432
Name: buying, dtype: int64

# Exemplo de conversão de Atributo Categórico para Inteiro

In [7]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
animais = [ 'gato', 'arara', 'elefante','cachorro', 'cachorro', 'gato', 'arara', 'gato', 'arara', 'cachorro']
animais_categoria = le.fit_transform(animais)
print(le.classes_)
print(animais_categoria)
print(list(le.inverse_transform(animais_categoria)))

['arara' 'cachorro' 'elefante' 'gato']
[3 0 2 1 1 3 0 3 0 1]
['gato', 'arara', 'elefante', 'cachorro', 'cachorro', 'gato', 'arara', 'gato', 'arara', 'cachorro']

# Funções de Conversão

In [8]:
from sklearn import preprocessing
def converte_categoria_para_inteiro(valores):
    le = preprocessing.LabelEncoder()
    inteiros = le.fit_transform(valores)
    print (set(le.inverse_transform(inteiros)))
    return le, inteiros

obj, df['buying'] = converte_categoria_para_inteiro(df['buying'])
df.head()

{'vhigh', 'high', 'med', 'low'}

   buying  maint doors persons lug_goot safety  Class
0       3  vhigh     2       2    small    low  unacc
1       3  vhigh     2       2    small    med  unacc
2       3  vhigh     2       2    small   high  unacc
3       3  vhigh     2       2      med    low  unacc
4       3  vhigh     2       2      med    med  unacc

In [9]:
df['buying'].value_counts()

3    432
2    432
1    432
0    432
Name: buying, dtype: int64

In [10]:
from sklearn import preprocessing
def converte_inteiro_para_categoria(obj,valores):
    valores_categorias = obj.inverse_transform(valores)
    print (obj.classes_)
    return valores_categorias

df['buying'] = converte_inteiro_para_categoria(obj, df['buying'])
df.head()

['high' 'low' 'med' 'vhigh']

  buying  maint doors persons lug_goot safety  Class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [11]:
df['buying'].value_counts()

high     432
low      432
vhigh    432
med      432
Name: buying, dtype: int64

## converter todos os atributos categóricos

In [12]:
# excluir a classe
atributos = list(df.columns.values)[:-1]
atributos

['buying', 'maint', 'doors', 'persons', 'lug_goot', 'safety']

In [13]:
# converter todos os atributos categóricos
objetos = []
for atributo in atributos:
    obj, df[atributo] = converte_categoria_para_inteiro(df[atributo])
    objetos.append(obj)
df.head()

{'vhigh', 'high', 'med', 'low'}
{'vhigh', 'high', 'med', 'low'}
{'3', '2', '4', '5more'}
{'2', '4', 'more'}
{'small', 'big', 'med'}
{'high', 'med', 'low'}

   buying  maint  doors  persons  lug_goot  safety  Class
0       3      3      0        0         2       1  unacc
1       3      3      0        0         2       2  unacc
2       3      3      0        0         2       0  unacc
3       3      3      0        0         1       1  unacc
4       3      3      0        0         1       2  unacc

## Converter inteiro para as categorias de volta

In [14]:
# objetos - tem todas as codificacoes do dataframe
i = 0
for atributo in atributos:
    obj = objetos[i]
    print(obj.classes_)
    df[atributo] = converte_inteiro_para_categoria(obj, df[atributo])
    i +=1
df.head()

['high' 'low' 'med' 'vhigh']
['high' 'low' 'med' 'vhigh']
['high' 'low' 'med' 'vhigh']
['high' 'low' 'med' 'vhigh']
['2' '3' '4' '5more']
['2' '3' '4' '5more']
['2' '4' 'more']
['2' '4' 'more']
['big' 'med' 'small']
['big' 'med' 'small']
['high' 'low' 'med']
['high' 'low' 'med']

  buying  maint doors persons lug_goot safety  Class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc