# Funcoes de conversao tipos - Dataframe

Converte dados categoricos para inteiros no dataframe
mantem dicionarios com as conversoes

## Normaliza os dados do dataframe
 aumenta a acurácia do modelo
 
valores são transpostos para o intervalo 0-1

In [9]:
import pandas as pd
# normalize the data attributes
from sklearn import preprocessing
def normalizar_dataframe(df):
    min_max_scaler = preprocessing.MinMaxScaler()
    columns = df.columns
    np_scaled = min_max_scaler.fit_transform(df)
    df_normalized = pd.DataFrame(np_scaled)
    df_normalized.columns = columns
    return df_normalized

## Dataset - Cancer

In [5]:
from sklearn.datasets import load_breast_cancer
data = load_breast_cancer()
data.target[[10, 50, 85]]

list(data.target_names)

['malignant', 'benign']

'malignant': 0, 'benign':1

In [7]:
df = pd.DataFrame(data.data)
df.columns = ['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error', 'fractal dimension error',
       'worst radius', 'worst texture', 'worst perimeter', 'worst area',
       'worst smoothness', 'worst compactness', 'worst concavity',
       'worst concave points', 'worst symmetry', 'worst fractal dimension']
df["class"] = data.target
df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,class
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [11]:
normalizar_dataframe(df).head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,class
0,0.521037,0.022658,0.545989,0.363733,0.593753,0.792037,0.703140,0.731113,0.686364,0.605518,...,0.141525,0.668310,0.450698,0.601136,0.619292,0.568610,0.912027,0.598462,0.418864,0.0
1,0.643144,0.272574,0.615783,0.501591,0.289880,0.181768,0.203608,0.348757,0.379798,0.141323,...,0.303571,0.539818,0.435214,0.347553,0.154563,0.192971,0.639175,0.233590,0.222878,0.0
2,0.601496,0.390260,0.595743,0.449417,0.514309,0.431017,0.462512,0.635686,0.509596,0.211247,...,0.360075,0.508442,0.374508,0.483590,0.385375,0.359744,0.835052,0.403706,0.213433,0.0
3,0.210090,0.360839,0.233501,0.102906,0.811321,0.811361,0.565604,0.522863,0.776263,1.000000,...,0.385928,0.241347,0.094008,0.915472,0.814012,0.548642,0.884880,1.000000,0.773711,0.0
4,0.629893,0.156578,0.630986,0.489290,0.430351,0.347893,0.463918,0.518390,0.378283,0.186816,...,0.123934,0.506948,0.341575,0.437364,0.172415,0.319489,0.558419,0.157500,0.142595,0.0

## Dataset Carros

In [145]:
df = pd.read_csv("car.data")
df.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "Class"]
df.head()

  buying  maint doors persons lug_boot safety  Class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [166]:
# codifica todo o dataframe para numérico
from sklearn.preprocessing import LabelEncoder
def codificar_dataframe(df):
    le = LabelEncoder()
    df2 = pd.DataFrame()
    for col in df.columns.values:
        # Encoding only categorical variables
        #print(len(df2[col]))
        if df[col].dtypes=='object':
            data=df[col]
            le.fit(data.values)
            #print (data.values)
            #print(le.fit(data.values))
            df2[col]=le.transform(df[col])           
            
    # gerar os dicionarios das categorias e dos inteiros
    dict_scalar ={}
    dict_to_string = {}
    d = {}
    columns = df.columns.values.tolist()
    #print(type(columns))
    #print(columns)
    for col in columns:
        #print(col)
        values = list(set(df[col]))
        #print (values)
        le = LabelEncoder()
        vt = le.fit_transform(values)
        #print(le.transform(values))
        dict_scalar[col] = {}
        dict_to_string[col] = {}
        d = {}
        ds = {}
        for v, vt in zip(values, vt): 
            #print (v,vt)
            d[v] = vt
            ds[vt] = v
        dict_scalar[col] = d
        dict_to_string[col] = ds
        
    return(df2, dict_scalar, dict_to_string)

In [147]:
df.head()

  buying  maint doors persons lug_boot safety  Class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [148]:
df2, dict_scalar, dict_to_string = codificar_dataframe(df)
df2.head()

   buying  maint  doors  persons  lug_boot  safety  Class
0       3      3      0        0         2       2      2
1       3      3      0        0         2       0      2
2       3      3      0        0         1       1      2
3       3      3      0        0         1       2      2
4       3      3      0        0         1       0      2

In [149]:
dict_scalar

{'Class': {'acc': 0, 'good': 1, 'unacc': 2, 'vgood': 3},
 'buying': {'high': 0, 'low': 1, 'med': 2, 'vhigh': 3},
 'doors': {'2': 0, '3': 1, '4': 2, '5more': 3},
 'lug_boot': {'big': 0, 'med': 1, 'small': 2},
 'maint': {'high': 0, 'low': 1, 'med': 2, 'vhigh': 3},
 'persons': {'2': 0, '4': 1, 'more': 2},
 'safety': {'high': 0, 'low': 1, 'med': 2}}

In [150]:
dict_to_string

{'Class': {0: 'acc', 1: 'good', 2: 'unacc', 3: 'vgood'},
 'buying': {0: 'high', 1: 'low', 2: 'med', 3: 'vhigh'},
 'doors': {0: '2', 1: '3', 2: '4', 3: '5more'},
 'lug_boot': {0: 'big', 1: 'med', 2: 'small'},
 'maint': {0: 'high', 1: 'low', 2: 'med', 3: 'vhigh'},
 'persons': {0: '2', 1: '4', 2: 'more'},
 'safety': {0: 'high', 1: 'low', 2: 'med'}}

In [151]:
dict_to_string["buying"]

{0: 'high', 1: 'low', 2: 'med', 3: 'vhigh'}

In [152]:
df2.head()

   buying  maint  doors  persons  lug_boot  safety  Class
0       3      3      0        0         2       2      2
1       3      3      0        0         2       0      2
2       3      3      0        0         1       1      2
3       3      3      0        0         1       2      2
4       3      3      0        0         1       0      2

In [153]:
col = 'buying'
#value = 0
#df['col1'].map(di) 
df2['buying'].map(dict_to_string[col]).head()

0    vhigh
1    vhigh
2    vhigh
3    vhigh
4    vhigh
Name: buying, dtype: object

In [154]:
# decodificar o dataframe
def decodificar_dataframe(df2,dict_to_string):
    df3 = pd.DataFrame()
    columns = df2.columns.values.tolist()
    for col in columns:
        df3[col] = df2[col].map(dict_to_string[col])
    return (df3)

In [155]:
df6 = decodificar_dataframe(df2,dict_to_string)
df6.head()

  buying  maint doors persons lug_boot safety  Class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [156]:
df_test = df6.loc[:3,:]
df_test

  buying  maint doors persons lug_boot safety  Class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc

In [157]:
dict_scalar

{'Class': {'acc': 0, 'good': 1, 'unacc': 2, 'vgood': 3},
 'buying': {'high': 0, 'low': 1, 'med': 2, 'vhigh': 3},
 'doors': {'2': 0, '3': 1, '4': 2, '5more': 3},
 'lug_boot': {'big': 0, 'med': 1, 'small': 2},
 'maint': {'high': 0, 'low': 1, 'med': 2, 'vhigh': 3},
 'persons': {'2': 0, '4': 1, 'more': 2},
 'safety': {'high': 0, 'low': 1, 'med': 2}}

In [159]:
# codifica os exemplos
def codificar_exemplos(df,dict_to_int):
    df3 = pd.DataFrame()
    columns = df.columns.values.tolist()
    for col in columns:
        df3[col] = df[col].map(dict_to_int[col])
    return (df3)

In [161]:
dict_to_int = dict_scalar 
df_test_cod = codificar_exemplos(df_test, dict_to_int)
df_test_cod

   buying  maint  doors  persons  lug_boot  safety  Class
0       3      3      0        0         2       2      2
1       3      3      0        0         2       0      2
2       3      3      0        0         1       1      2
3       3      3      0        0         1       2      2

In [163]:
# decodifica os exemplos
def decodificar_exemplos(df,dict_to_string):
    df3 = pd.DataFrame()
    columns = df.columns.values.tolist()
    for col in columns:
        df3[col] = df[col].map(dict_to_string[col])
    return (df3)

In [165]:
decodificar_exemplos(df_test_cod, dict_to_string)

  buying  maint doors persons lug_boot safety  Class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc