In [1]:
# Aluno: xxxx - Matricula: xxxx

# Tuplas

In [4]:
t1 = ( 'UEPB', 2000, 'cct' )
t1

('UEPB', 2000, 'cct')

In [5]:
t1[2]

'cct'

In [6]:
t1.append(23)

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
t1[0] = 12

TypeError: 'tuple' object does not support item assignment

In [8]:
len(t1)

3

In [9]:
del t1

In [10]:
t1

NameError: name 't1' is not defined

In [11]:
t1 = ( 'UEPB', 2000, 'cct' )

In [12]:
l1 = list(t1)

In [13]:
l1

['UEPB', 2000, 'cct']

# Dicionário

In [15]:
d1 = { 'Joana': 22, 'Paula': 21, 'Pedro': 19, 'João': 25}
d1

{'Joana': 22, 'Paula': 21, 'Pedro': 19, 'João': 25}

In [16]:
type(d1)

dict

In [17]:
d1.items()

dict_items([('Joana', 22), ('Paula', 21), ('Pedro', 19), ('João', 25)])

In [18]:
d1.keys()

dict_keys(['Joana', 'Paula', 'Pedro', 'João'])

In [19]:
d1.values()

dict_values([22, 21, 19, 25])

In [20]:
d1['paula']

KeyError: 'paula'

In [21]:
d1['Paula']

21

In [22]:
d1['Yasmin' ] = 27
d1

{'Joana': 22, 'Paula': 21, 'Pedro': 19, 'João': 25, 'Yasmin': 27}

In [23]:
d2 = {}
type(d2)

dict

In [24]:
d2['Camilo'] = 21
d2

{'Camilo': 21}

In [25]:
d1.update(d2)
d1

{'Joana': 22, 'Paula': 21, 'Pedro': 19, 'João': 25, 'Yasmin': 27, 'Camilo': 21}

In [26]:
d1[100] = 13
d1

{'Joana': 22,
 'Paula': 21,
 'Pedro': 19,
 'João': 25,
 'Yasmin': 27,
 'Camilo': 21,
 100: 13}

In [27]:
d1[100]

13

In [28]:
d3 = {
    'k1' : 67,
    'k2'  : [ 12, 'UEPB', 3.12459],
    'k3': [ 'álcool em gel', 'máscaras'] 
}

In [29]:
d3

{'k1': 67, 'k2': [12, 'UEPB', 3.12459], 'k3': ['álcool em gel', 'máscaras']}

In [30]:
type(d3)

dict

In [31]:
d3['k2']

[12, 'UEPB', 3.12459]

In [32]:
d3['k2'][1]

'UEPB'

In [33]:
pi = d3['k2'][2]
pi

3.12459

In [34]:
d3['k1'] = d3['k1'] - 10
d3

{'k1': 57, 'k2': [12, 'UEPB', 3.12459], 'k3': ['álcool em gel', 'máscaras']}

# Expressões Lambda

In [35]:
def potencia (num):
    r = num * num
    return r

In [36]:
potencia(5)

25

In [37]:
def pot(num): return num * num

In [38]:
pot(3)

9

In [39]:
potencia = lambda num: num * num

In [40]:
potencia(5)

25

In [41]:
Par = lambda x : x % 2 == 0

In [42]:
Par(2)

True

In [43]:
Par(5)

False

In [44]:
addNum = lambda x,y : x+y

In [45]:
addNum(2,3)

5

# Comando For

In [46]:
range(10)

range(0, 10)

In [47]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [50]:
for i in range(50,61,2):
    print(i)

50
52
54
56
58
60

In [51]:
l = [ 'uepb', 'cct', 'dc']
for i in l:
    print(i)

uepb
cct
dc

In [52]:
c = 1
while c < 10:
    c = c + 1
print(c)

10

In [53]:
c = 1
while c < 20:
    c = c + 1
    if c == 15:
        break
    
print(c)

15

In [54]:
d1

{'Joana': 22,
 'Paula': 21,
 'Pedro': 19,
 'João': 25,
 'Yasmin': 27,
 'Camilo': 21,
 100: 13}

In [55]:
type(d1)

dict

In [56]:
for item in d1:
    print(item)

Joana
Paula
Pedro
João
Yasmin
Camilo
100

In [57]:
d1.items()

dict_items([('Joana', 22), ('Paula', 21), ('Pedro', 19), ('João', 25), ('Yasmin', 27), ('Camilo', 21), (100, 13)])

In [59]:
for chave, valor in d1.items():
    print(chave, valor)

Joana 22
Paula 21
Pedro 19
João 25
Yasmin 27
Camilo 21
100 13

# DataFrames

In [60]:
import pandas as pd

In [61]:
df = pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

In [62]:
df['Nome'] = [ 'Jessica', 'Andreia']
df

      Nome
0  Jessica
1  Andreia

In [63]:
df['idade'] = [19, 23, ]
df

      Nome  idade
0  Jessica     19
1  Andreia     23

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    2 non-null      object
 1   idade   2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes

In [ ]:
Pais, Total_doses_aplicadas, %_vacinado
Estados Unidos, 130473853,14.1
India,53000000,0.61
Reino Unido,31186362,3.8
Brasil,5943964, 1.8
Turquia, 13969867, 7.0

In [ ]:
'Estados Unidos', 130473853, 14.1

'India', 53145709, 0.61

'Reino Unido', 31000000, 3.8
'Brasil', 15900000, 1,8

In [65]:
data = {  
    'Pais': ['Estados Unidos',  'India', 'Reino Unido', 'Brasil'],
    'Doses_aplicadas': [130473853, 53000000, 31000000, 15900000 ],
    '%Vacinados': [4.1,  0.61,  3.8,  1.8 ]    
}

In [66]:
type(data)

dict

In [67]:
df = pd.DataFrame(data)
df

             Pais  Doses_aplicadas  %Vacinados
0  Estados Unidos        130473853        4.10
1           India         53000000        0.61
2     Reino Unido         31000000        3.80
3          Brasil         15900000        1.80

In [68]:
type(df)

pandas.core.frame.DataFrame

In [69]:
df.Pais

0    Estados Unidos
1             India
2       Reino Unido
3            Brasil
Name: Pais, dtype: object

In [71]:
p = df.Pais.values
p

array(['Estados Unidos', 'India', 'Reino Unido', 'Brasil'], dtype=object)