## Trabalhando com Big Data - 20 Milhões de Registros
fonte: https://grouplens.org/datasets/movielens/

In [1]:
import pandas as pd

In [ ]:
!pwd

In [ ]:
!ls -ilah /Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m

In [2]:
url = '/Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m' + '/' + 'filmes4.csv'
url

'/Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m/filmes4.csv'

In [3]:
%time
df = pd.read_csv(url, header=None)
df.columns = ['id_user', 'id_titulo', 'titulo', 'rating', 'timestamp']
print('total de registros: {:,d}'.format(len(df)))

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs
total de registros: 20,000,263

In [4]:
df.head()

,id_user,id_titulo,titulo,rating,timestamp
0,1,2,Jumanji (1995),3.5,1112486027
1,1,29,"City of Lost Children, The (Cité des enfants p...",3.5,1112484676
2,1,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),3.5,1112484819
3,1,47,Seven (a.k.a. Se7en) (1995),3.5,1112484727
4,1,50,"Usual Suspects, The (1995)",3.5,1112484580

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   id_user    int64
 1   id_titulo  int64
 2   titulo     object
 3   rating     float64
 4   timestamp  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 762.9+ MB

In [6]:
df.sort_values(by='rating', ascending=False)[:30]

,id_user,id_titulo,titulo,rating,timestamp
13699034,127959,1086,Dial M for Murder (1954),5.0,1143310854
7379179,69009,3012,Battling Butler (1926),5.0,961110751
2027246,18537,1956,Ordinary People (1980),5.0,996773587
7379177,69009,2987,Who Framed Roger Rabbit? (1988),5.0,961112068
14429932,134779,1214,Alien (1979),5.0,974841733
2027249,18537,2194,"Untouchables, The (1987)",5.0,996773970
14429933,134779,1219,Psycho (1960),5.0,974841666
7379174,69009,2937,"Palm Beach Story, The (1942)",5.0,961109785
2027252,18537,2313,"Elephant Man, The (1980)",5.0,996773654
2027253,18537,2324,Life Is Beautiful (La Vita è bella) (1997),5.0,996769105
2027254,18537,2336,Elizabeth (1998),5.0,996766768
7379173,69009,2935,"Lady Eve, The (1941)",5.0,961109729
7379172,69009,2920,Children of Paradise (Les enfants du paradis) ...,5.0,961112722
2027257,18537,2512,"Ballad of Narayama, The (Narayama bushiko) (1983)",5.0,996774067
14429934,134779,1227,Once Upon a Time in America (1984),5.0,974842137
7379168,69009,2797,Big (1988),5.0,961110838
2027260,18537,2704,"Lovers on the Bridge, The (Amants du Pont-Neuf...",5.0,996768682
7379167,69009,2791,Airplane! (1980),5.0,961110113
7379166,69009,2779,Heaven Can Wait (1978),5.0,961110937
7379163,69009,2731,"400 Blows, The (Les quatre cents coups) (1959)",5.0,961113737
7379160,69009,2726,"Killing, The (1956)",5.0,961112068
2027245,18537,1947,West Side Story (1961),5.0,996768779
7379180,69009,3019,Drugstore Cowboy (1989),5.0,961114268
7379159,69009,2716,Ghostbusters (a.k.a. Ghost Busters) (1984),5.0,961110233
7379181,69009,3022,"General, The (1926)",5.0,961109729
2027223,18537,1225,Amadeus (1984),5.0,996773462
2027224,18537,1227,Once Upon a Time in America (1984),5.0,996723787
7379200,69009,3104,Midnight Run (1988),5.0,961110647
2027226,18537,1296,"Room with a View, A (1986)",5.0,996773785
2027227,18537,1307,When Harry Met Sally... (1989),5.0,996773814

In [7]:
dfo = df.rating.value_counts()
dfo

4.0    5561926
3.0    4291193
5.0    2898660
3.5    2200156
4.5    1534824
2.0    1430997
2.5     883398
1.0     680732
1.5     279252
0.5     239125
Name: rating, dtype: int64

In [8]:
type(dfo)

pandas.core.series.Series

In [10]:
df2 = dfo.to_frame().reset_index()
df2.columns = ['rating', 'quantidade']

In [11]:
df2

   rating  quantidade
0     4.0     5561926
1     3.0     4291193
2     5.0     2898660
3     3.5     2200156
4     4.5     1534824
5     2.0     1430997
6     2.5      883398
7     1.0      680732
8     1.5      279252
9     0.5      239125

In [12]:
df2['percent'] = df2['quantidade'] / df2['quantidade'].sum() * 100
df2

   rating  quantidade    percent
0     4.0     5561926  27.809264
1     3.0     4291193  21.455683
2     5.0     2898660  14.493109
3     3.5     2200156  11.000635
4     4.5     1534824   7.674019
5     2.0     1430997   7.154891
6     2.5      883398   4.416932
7     1.0      680732   3.403615
8     1.5      279252   1.396242
9     0.5      239125   1.195609

In [20]:
# formatar a saída

df3 = df2.style.format({
    "rating": "{:.1f}",
    "quantidade": "{:,d}",
    "percent": "{:.0f}"
})



df3

In [23]:
df4 = df2[ df2.percent >= 7]
df4

   rating  quantidade    percent
0     4.0     5561926  27.809264
1     3.0     4291193  21.455683
2     5.0     2898660  14.493109
3     3.5     2200156  11.000635
4     4.5     1534824   7.674019
5     2.0     1430997   7.154891

In [24]:
df4.percent.sum()

89.58760192303471

In [28]:
print('{:,d}'.format(df4.quantidade.sum()))

17,917,756

In [44]:
df5 = df2[ df2.percent < 7]
df5

   rating  quantidade   percent
6     2.5      883398  4.416932
7     1.0      680732  3.403615
8     1.5      279252  1.396242
9     0.5      239125  1.195609

In [45]:
print('{:,d}'.format(df5.quantidade.sum()))

2,082,507

In [46]:
df5.percent.sum()

10.412398076965287

In [47]:
df5

   rating  quantidade   percent
6     2.5      883398  4.416932
7     1.0      680732  3.403615
8     1.5      279252  1.396242
9     0.5      239125  1.195609

In [49]:
row = {'rating': 'outros', 'quantidade': df5.quantidade.sum(), 'percent': df5.percent.sum()  }
row

{'rating': 'outros', 'quantidade': 2082507, 'percent': 10.412398076965287}

In [50]:
df6 = df4.append(row, ignore_index=True)
df6

   rating  quantidade    percent
0     4.0     5561926  27.809264
1     3.0     4291193  21.455683
2     5.0     2898660  14.493109
3     3.5     2200156  11.000635
4     4.5     1534824   7.674019
5     2.0     1430997   7.154891
6  outros     2082507  10.412398

In [52]:
# formatar a saída

dfs = df6.style.format({
    "rating": "{}",
    "quantidade": "{:,d}",
    "percent": "{:.0f}"
})

dfs

In [54]:
df6.to_csv('ratings_saida.csv', index=False)

In [55]:
!cat ratings_saida.csv

rating,quantidade,percent
4.0,5561926,27.80926430817435
3.0,4291193,21.45568285777042
5.0,2898660,14.493109415611185
3.5,2200156,11.000635341645257
4.5,1534824,7.67401908664901
2.0,1430997,7.1548909131844916
outros,2082507,10.412398076965287

import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams["figure.figsize"] = (9,9)

#define data
data = df6.percent
labels = df6.rating

#define Seaborn color palette to use
colors = sns.color_palette('pastel')[0:7]

#create pie chart
plt.pie(data, labels = labels, colors = colors, autopct='%.0f%%')
plt.show()

# 1 Bilhão de Registros

In [63]:
!ls ~/Downloads/ml-20mx16x32

testx16x32_0.npz   testx16x32_2.npz   trainx16x32_0.npz  trainx16x32_2.npz
testx16x32_1.npz   testx16x32_3.npz   trainx16x32_1.npz  trainx16x32_3.npz
testx16x32_10.npz  testx16x32_4.npz   trainx16x32_10.npz trainx16x32_4.npz
testx16x32_11.npz  testx16x32_5.npz   trainx16x32_11.npz trainx16x32_5.npz
testx16x32_12.npz  testx16x32_6.npz   trainx16x32_12.npz trainx16x32_6.npz
testx16x32_13.npz  testx16x32_7.npz   trainx16x32_13.npz trainx16x32_7.npz
testx16x32_14.npz  testx16x32_8.npz   trainx16x32_14.npz trainx16x32_8.npz
testx16x32_15.npz  testx16x32_9.npz   trainx16x32_15.npz trainx16x32_9.npz

In [66]:
pwd

'/Users/valencar/Dropbox/AULAS-REMOTAS/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/Python-Para-Analise-de-Dados/MANHA'

In [90]:
#!pip install -q npzviewer

In [73]:
%%time
import numpy as np

url  = '/Users/valencar/Downloads/ml-20mx16x32/'
n = np.load(url + 'testx16x32_0.npz')

CPU times: user 797 µs, sys: 1.91 ms, total: 2.71 ms
Wall time: 2.66 ms

In [80]:
 n.files

['arr_0']

In [82]:
n['arr_0'].shape

(138240, 2)

In [89]:
n['arr_0'][20]

array([    20, 133191])

In [ ]:
%%time
import pandas as pd

url = 

df = pd.read_csv(url)
df.head