## Trabalhando com Big Data - 25 Milhões de Registros - Usando Modin
fonte: https://grouplens.org/datasets/movielens/

In [ ]:
#import pandas as pd

## Scale your pandas workflows by changing one line of code <br>
https://github.com/modin-project/modin

In [ ]:
# pip install modin
# conda install -c conda-forge modin-all

In [1]:
# import pandas as pd

from distributed import Client
client = Client(n_workers=6)
# Modin will connect to the Dask Client
import modin.pandas as pd


#import modin.pandas as pd
#from dask.distributed import Client

#client = Client()

In [ ]:
!pwd

In [ ]:
!ls -ilah /Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m

In [ ]:
!head /Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m/movies.csv

In [ ]:
#!unzip /Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m/filmes4.csv.zip

In [ ]:
#!mv filmes4.csv /Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m/

In [2]:
url = '/Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m' + '/' + 'ratings.csv'
url

'/Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m/ratings.csv'

In [3]:
%time

from dask import dataframe as dd


dfratings = dd.read_csv(url)
print('total de registros: {:,d}'.format(len(dfratings)))

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 4.77 µs

FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.

total de registros: 20,000,263

In [4]:
dfratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [5]:
url = '/Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m' + '/' + 'movies.csv'
url

'/Users/valencar/Dropbox/AULAS-REMOTAS/BD-ESTATISTICA-MANHA/datasets/ml-20m/movies.csv'

In [6]:
%%time

dfmovies = dd.read_csv(url)
print('total de registros: {:,d}'.format(len(dfmovies)))

total de registros: 27,278
CPU times: user 20.7 ms, sys: 8.14 ms, total: 28.8 ms
Wall time: 105 ms

In [7]:
dfmovies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
dfratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

# Join - inner join

In [9]:
%%time

dffilmes =  dd.merge(dfmovies, dfratings, left_on='movieId', right_on='movieId')
print('total de registros: {:,d}'.format(len(dffilmes)))
dffilmes.head()

total de registros: 20,000,263
CPU times: user 290 ms, sys: 44.1 ms, total: 335 ms
Wall time: 4.88 s

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

In [10]:
dffilmes.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 6 entries, movieId to timestamp
dtypes: object(2), float64(1), int64(3)

In [15]:
%%time

dffilmes.compute().sort_values(by='rating', ascending=False)[:30]

,movieId,title,genres,userId,rating,timestamp
510544,608,Fargo (1996),Comedy|Crime|Drama|Thriller,64895,5.0,835784283
1695061,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20314,5.0,1072020681
869849,1285,Heathers (1989),Comedy,82262,5.0,1085422722
1695071,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20342,5.0,983922370
1695070,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20340,5.0,1375431534
1695068,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20332,5.0,1234473138
1695067,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20331,5.0,1010804653
1965718,6281,Phone Booth (2002),Drama|Thriller,40292,5.0,1074444269
1695063,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20322,5.0,1224530134
1971261,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,51113,5.0,1207345026
1114780,1968,"Breakfast Club, The (1985)",Comedy|Drama,36009,5.0,1025618746
1965714,6281,Phone Booth (2002),Drama|Thriller,40174,5.0,1253136560
1982264,7256,Touching the Void (2003),Adventure|Documentary,100937,5.0,1148260057
869843,1285,Heathers (1989),Comedy,82211,5.0,975728618
869842,1285,Heathers (1989),Comedy,82161,5.0,991699639
1114784,1968,"Breakfast Club, The (1985)",Comedy|Drama,36036,5.0,1376605406
1114785,1968,"Breakfast Club, The (1985)",Comedy|Drama,36045,5.0,1257634389
1695053,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20278,5.0,1198102644
1982177,7254,The Butterfly Effect (2004),Drama|Sci-Fi|Thriller,116775,5.0,1314706620
1982175,7254,The Butterfly Effect (2004),Drama|Sci-Fi|Thriller,116754,5.0,1278382615
869837,1285,Heathers (1989),Comedy,82082,5.0,957652959
1982173,7254,The Butterfly Effect (2004),Drama|Sci-Fi|Thriller,116706,5.0,1175821747
869850,1285,Heathers (1989),Comedy,82269,5.0,1106952752
1695074,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20346,5.0,1343371607
1695047,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20261,5.0,1138245986
1114768,1968,"Breakfast Club, The (1985)",Comedy|Drama,35956,5.0,1119390354
2211991,30793,Charlie and the Chocolate Factory (2005),Adventure|Children|Comedy|Fantasy|IMAX,7116,5.0,1139540515
1695102,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance,20506,5.0,978362591
1971239,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,50968,5.0,1212819202
1982298,7256,Touching the Void (2003),Adventure|Documentary,104102,5.0,1380804174

In [16]:
%%time

dfdrama_acao = dffilmes[ dffilmes.genres.str.contains('Drama') |  dffilmes.genres.str.contains('Action') ]
print('total de registros: {:,d}'.format(len(dfdrama_acao)))
dfdrama_acao.head()

total de registros: 13,088,050
CPU times: user 714 ms, sys: 122 ms, total: 836 ms
Wall time: 14.6 s

,movieId,title,genres,userId,rating,timestamp
10373,4,Waiting to Exhale (1995),Comedy|Drama|Romance,41,2.0,951694198
10374,4,Waiting to Exhale (1995),Comedy|Drama|Romance,61,3.0,1197068409
10375,4,Waiting to Exhale (1995),Comedy|Drama|Romance,156,3.0,1038801803
10376,4,Waiting to Exhale (1995),Comedy|Drama|Romance,158,3.0,842735262
10377,4,Waiting to Exhale (1995),Comedy|Drama|Romance,295,3.0,863971097

## Criando colunas Genero - individuais

In [17]:
genres = 'Comedy|Drama|Romance'
generos = genres.split('|')
generos

['Comedy', 'Drama', 'Romance']

In [18]:
%%time

for index, row in dffilmes.iterrows(): 
    print(row['genres'])
    generos = row['genres'].split('|')
    print(generos)
    break

Adventure|Animation|Children|Comedy|Fantasy
['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']
CPU times: user 705 ms, sys: 276 ms, total: 981 ms
Wall time: 2.34 s

In [19]:
%%time

set_generos = set()

for index, row in dffilmes.iterrows(): 
    print(row['genres'])
    generos = row['genres'].split('|')
    set_generos.update(generos)
    print(set_generos)
    break

Adventure|Animation|Children|Comedy|Fantasy
{'Children', 'Animation', 'Comedy', 'Fantasy', 'Adventure'}
CPU times: user 757 ms, sys: 257 ms, total: 1.01 s
Wall time: 2.56 s

In [20]:
%%time

set_generos = set()

for index, row in dffilmes.iterrows(): 
    generos = row['genres'].split('|')
    set_generos.update(generos)
    
generos = list(set_generos)
generos

CPU times: user 11min 10s, sys: 10.3 s, total: 11min 20s
Wall time: 11min 32s

['Western',
 'Children',
 'Romance',
 'Fantasy',
 'Drama',
 'Crime',
 'Comedy',
 'Action',
 'Sci-Fi',
 'War',
 'Adventure',
 'Mystery',
 'Animation',
 'Horror',
 'IMAX',
 'Musical',
 'Film-Noir',
 '(no genres listed)',
 'Documentary',
 'Thriller']

In [21]:
print(generos, len(generos))

['Western', 'Children', 'Romance', 'Fantasy', 'Drama', 'Crime', 'Comedy', 'Action', 'Sci-Fi', 'War', 'Adventure', 'Mystery', 'Animation', 'Horror', 'IMAX', 'Musical', 'Film-Noir', '(no genres listed)', 'Documentary', 'Thriller'] 20

In [ ]:
# generos = ['Crime', 'Western', 'Thriller', 'War', 'Sci-Fi', 'Children', 
#             'Documentary', '(no genres listed)', 'Romance', 'Adventure', 'Mystery',
#             'Comedy', 'IMAX', 'Animation', 'Action', 'Horror', 'Film-Noir', 'Fantasy',
#         'Drama', 'Musical']

In [22]:
%%time

for genero in generos:
    dffilmes[genero] = False
    
dffilmes.head()

CPU times: user 145 ms, sys: 16.2 ms, total: 162 ms
Wall time: 1.24 s

,movieId,title,genres,userId,rating,timestamp,Western,Children,Romance,Fantasy,...,Adventure,Mystery,Animation,Horror,IMAX,Musical,Film-Noir,(no genres listed),Documentary,Thriller
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
%%time 

for index, row in dffilmes.iterrows(): 
    generos = row['genres'].split('|')
    for genero in generos:
        #print(genero)
     
        dffilmes.compute().at[index, genero] = True

        #print(dffilmes.iloc[index][genero])
        #break
    #break  
    
dffilmes.head()

CPU times: user 31min 32s, sys: 32.6 s, total: 32min 5s
Wall time: 34min 12s

In [ ]:
dffilmes.to_csv('filmes-2022-Modin.csv', index=False)
!ls -ilah *.csv

In [ ]:
dffilmes.Action.value_counts()

In [ ]:
%time
#df2 = pd.get_dummies(dfdrama_acao, columns=['genres'])
#df2.head()

In [ ]:
print(df2.columns, len(df2.columns))

In [ ]:
dfo = dffilmes.rating.value_counts()
dfo

In [ ]:
type(dfo)

In [ ]:
df2 = dfo.to_frame().reset_index()
df2.columns = ['rating', 'quantidade']

In [ ]:
df2

In [ ]:
df2['percent'] = df2['quantidade'] / df2['quantidade'].sum() * 100
df2

In [ ]:
# formatar a saída

df3 = df2.style.format({
    "rating": "{:.1f}",
    "quantidade": "{:,d}",
    "percent": "{:.0f}"
})



df3

In [ ]:
df4 = df2[ df2.percent >= 7]
df4

In [ ]:
df4.percent.sum()

In [ ]:
print('{:,d}'.format(df4.quantidade.sum()))

In [ ]:
df5 = df2[ df2.percent < 7]
df5

In [ ]:
print('{:,d}'.format(df5.quantidade.sum()))

In [ ]:
df5.percent.sum()

In [ ]:
df5

In [ ]:
row = {'rating': 'outros', 'quantidade': df5.quantidade.sum(), 'percent': df5.percent.sum()  }
row

In [ ]:
df6 = df4.append(row, ignore_index=True)
df6

In [ ]:
# formatar a saída

dfs = df6.style.format({
    "rating": "{}",
    "quantidade": "{:,d}",
    "percent": "{:.0f}"
})

dfs

In [ ]:
df6.to_csv('ratings_saida.csv', index=False)

In [ ]:
!cat ratings_saida.csv

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams["figure.figsize"] = (9,9)

#define data
data = df6.percent
labels = df6.rating

#define Seaborn color palette to use
colors = sns.color_palette('pastel')[0:7]

#create pie chart
#print('Filmes por avaliação (1-5)')


fig = plt.figure()

ax = fig.add_axes([0, 0, .8, .8], aspect=1)

ax.set_title('Filmes por avaliação (1-5)')
plt.pie(data, labels = labels, colors = colors, autopct='%.0f%%')


plt.show()

# 1 Bilhão de Registros

In [ ]:
!ls ~/Downloads/ml-20mx16x32

In [ ]:
pwd

In [ ]:
#!pip install -q npzviewer

In [ ]:
%%time
import numpy as np

url  = '/Users/valencar/Downloads/ml-20mx16x32/'
n = np.load(url + 'testx16x32_0.npz')

In [ ]:
 n.files

In [ ]:
n['arr_0'].shape

In [ ]:
n['arr_0'][20]

In [ ]:
%%time
import pandas as pd

url = 

df = pd.read_csv(url)
df.head