## Aula02-21-marco-2023-Listas-Tuplas-Dicionarios

In [1]:
l = [1, 2.3, True, 'uepb', 'cct', 3.14159 ]
l

[1, 2.3, True, 'uepb', 'cct', 3.14159]

In [2]:
type(l)

list

In [3]:
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
l

[1, 2.3, True, 'uepb', 'cct', 3.14159]

In [5]:
l[0]

1

In [6]:
# notação de slicing - fatiamento

In [7]:
l[1:]

[2.3, True, 'uepb', 'cct', 3.14159]

In [10]:
l

[1, 2.3, True, 'uepb', 'cct', 3.14159]

In [9]:
l[:3] # exclusive

[1, 2.3, True]

In [11]:
# l[inicio:fim-1]

## list compreension

In [12]:
l

[1, 2.3, True, 'uepb', 'cct', 3.14159]

In [13]:
[ x for x in l ]

[1, 2.3, True, 'uepb', 'cct', 3.14159]

In [15]:
for x in l:
    print(x)

1
2.3
True
uepb
cct
3.14159

In [17]:
l2 = [] # lista vazia
for x in l:
    l2.append(x) # adiciono um elemento à lista l2
    
print(l2)

[1, 2.3, True, 'uepb', 'cct', 3.14159]

In [18]:
l3 = [ x for x in l ]
l3

[1, 2.3, True, 'uepb', 'cct', 3.14159]

In [19]:
it = list(range(10))
it

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
# números pares
l2 = [] # lista vazia
for x in it:
    if x % 2 == 0: # resto da divisão
        l2.append(x) # adiciono um elemento à lista l2
    
print(l2)

[0, 2, 4, 6, 8]

In [23]:
l3 = [ x for x in it if x % 2 == 0]
l3

[0, 2, 4, 6, 8]

In [26]:
l4 = [ x if x % 2 == 0 else -1 for x in it ]
l4

[0, -1, 2, -1, 4, -1, 6, -1, 8, -1]

## funções Lambda

In [27]:
def potencia(x):
    return x * x

In [28]:
potencia(6)

36

In [29]:
k = lambda x : x * x

In [30]:
k(6)

36

## listas aninhadas

In [31]:
l = [ 1, 2, 3, [5,6], 34]
l

[1, 2, 3, [5, 6], 34]

In [32]:
l[3]

[5, 6]

In [33]:
l[3][1]

6

In [35]:
coordinates = \
     [[
           [-77.119759,38.791645],
           [-76.909393,38.791645],
           [-76.909393,38.995548],
           [-77.119759,38.995548]
     ]]
coordinates

[[[-77.119759, 38.791645],
  [-76.909393, 38.791645],
  [-76.909393, 38.995548],
  [-77.119759, 38.995548]]]

In [ ]:
# Exercício: Obter latitude, longite da 4a linha da lista
coordinates = \
     [[
           [-77.119759,38.791645],
           [-76.909393,38.791645],
           [-76.909393,38.995548],
           [-77.119759,38.995548]
     ]]

Saída: 
latitude = -77.119759
longitude = 38.995548

In [37]:
latitude = -77.119759
longitude = 38.995548

In [38]:
print('latitude:',latitude)
print('longitude:', longitude)

latitude: -77.119759
longitude: 38.995548

In [39]:
coordinates = \
     [[
           [-77.119759,38.791645],
           [-76.909393,38.791645],
           [-76.909393,38.995548],
           [-77.119759,38.995548]
     ]]

In [40]:
coordinates

[[[-77.119759, 38.791645],
  [-76.909393, 38.791645],
  [-76.909393, 38.995548],
  [-77.119759, 38.995548]]]

In [41]:
coordinates[0]

[[-77.119759, 38.791645],
 [-76.909393, 38.791645],
 [-76.909393, 38.995548],
 [-77.119759, 38.995548]]

In [42]:
coordinates[0][3]

[-77.119759, 38.995548]

In [43]:
latitude = coordinates[0][3][0]
latitude

-77.119759

## concatenação de listas

In [44]:
l

[1, 2, 3, [5, 6], 34]

In [45]:
l2

[0, 2, 4, 6, 8]

In [48]:
l3 = [1, 2.3, True, 'uepb', 'cct', 3.14159]
l3

[1, 2.3, True, 'uepb', 'cct', 3.14159]

In [49]:
l5 = l2 + l3
l5

[0, 2, 4, 6, 8, 1, 2.3, True, 'uepb', 'cct', 3.14159]

In [50]:
k = [10, 2, 4, 16, 8]
k

[10, 2, 4, 16, 8]

In [51]:
k.sort()
k

[2, 4, 8, 10, 16]

# Tuplas

In [52]:
 # uf, População, densidade, Matrículas EF, idh, rendimento
t1 = ('São Paulo', '46,289,333', '166.2', '5,367,614', 0.783, 1946)
t1

('São Paulo', '46,289,333', '166.2', '5,367,614', 0.783, 1946)

In [53]:
t1[0]

'São Paulo'

In [55]:
t1[0] = 'SP'

TypeError: 'tuple' object does not support item assignment

In [56]:
k1 = list(t1)
k1

['São Paulo', '46,289,333', '166.2', '5,367,614', 0.783, 1946]

In [57]:
k1[0] = 'SP'
k1

['SP', '46,289,333', '166.2', '5,367,614', 0.783, 1946]

In [58]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Conjuntos (set)

In [59]:
k = [10, 2, 4, 16, 8, 8, 8, 16]
len(k)

8

In [60]:
s = set(k)
len(s)

5

In [61]:
s

{2, 4, 8, 10, 16}

In [62]:
dir(s)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [63]:
s

{2, 4, 8, 10, 16}

In [64]:
s.remove(4)
s

{2, 8, 10, 16}

# Dicionários

In [65]:
d = {
    'nome': 'Paula',
    'idade': 22,
    'peso': 55
}
d

{'nome': 'Paula', 'idade': 22, 'peso': 55}

In [66]:
d['altura'] = 1.68
d

{'nome': 'Paula', 'idade': 22, 'peso': 55, 'altura': 1.68}

In [67]:
d['peso'] = 54

In [68]:
d

{'nome': 'Paula', 'idade': 22, 'peso': 54, 'altura': 1.68}

In [69]:
del d['peso']
d

{'nome': 'Paula', 'idade': 22, 'altura': 1.68}

In [70]:
endereco = {
    'rua': 'Av. Baraúnas',
    'numero': 362,
    'bairro': 'Bodocongó'
}
endereco

{'rua': 'Av. Baraúnas', 'numero': 362, 'bairro': 'Bodocongó'}

In [71]:
d['endereco'] = endereco
d

{'nome': 'Paula',
 'idade': 22,
 'altura': 1.68,
 'endereco': {'rua': 'Av. Baraúnas', 'numero': 362, 'bairro': 'Bodocongó'}}

In [72]:
d['endereco']

{'rua': 'Av. Baraúnas', 'numero': 362, 'bairro': 'Bodocongó'}

In [73]:
d['endereco']['rua']

'Av. Baraúnas'

In [74]:
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [75]:
d

{'nome': 'Paula',
 'idade': 22,
 'altura': 1.68,
 'endereco': {'rua': 'Av. Baraúnas', 'numero': 362, 'bairro': 'Bodocongó'}}

In [76]:
# chaves
d.keys()

dict_keys(['nome', 'idade', 'altura', 'endereco'])

In [77]:
d.values()

dict_values(['Paula', 22, 1.68, {'rua': 'Av. Baraúnas', 'numero': 362, 'bairro': 'Bodocongó'}])

In [78]:
d.items()

dict_items([('nome', 'Paula'), ('idade', 22), ('altura', 1.68), ('endereco', {'rua': 'Av. Baraúnas', 'numero': 362, 'bairro': 'Bodocongó'})])

In [79]:
for chave, valor in d.items():
    print('chave:', chave, ' - valor:', valor)

chave: nome  - valor: Paula
chave: idade  - valor: 22
chave: altura  - valor: 1.68
chave: endereco  - valor: {'rua': 'Av. Baraúnas', 'numero': 362, 'bairro': 'Bodocongó'}

# Dataframes

In [84]:
dados = {'nome': ['Paula', 'João', 'Ana'], 
         'idade': [22, 19, 25], 
         'peso': [54, 68, 60]
        }
dados

{'nome': ['Paula', 'João', 'Ana'], 'idade': [22, 19, 25], 'peso': [54, 68, 60]}

In [82]:
import pandas as pd

In [85]:
df = pd.DataFrame(dados)
df

    nome  idade  peso
0  Paula     22    54
1   João     19    68
2    Ana     25    60

In [86]:
df.idade.mean()

22.0

In [87]:
df['idade'].mean()

22.0

In [88]:
df['peso'].mean()

60.666666666666664

In [89]:
df.describe()

       idade       peso
count    3.0   3.000000
mean    22.0  60.666667
std      3.0   7.023769
min     19.0  54.000000
25%     20.5  57.000000
50%     22.0  60.000000
75%     23.5  64.000000
max     25.0  68.000000

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    3 non-null      object
 1   idade   3 non-null      int64
 2   peso    3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes