# Tuplas

In [1]:
t1 = ('vacinas', True, 1.2)
t1

('vacinas', True, 1.2)

In [2]:
type(t1)

tuple

In [3]:
t1[0] = 'covid'

TypeError: 'tuple' object does not support item assignment

In [4]:
t1[0]

'vacinas'

In [5]:
n1, n2, n3 = t1

In [6]:
n1

'vacinas'

In [7]:
n2

True

In [8]:
n3

1.2

In [9]:
l = list(t1)
l

['vacinas', True, 1.2]

In [10]:
l[0] = 'covid'
l

['covid', True, 1.2]

In [11]:
del t1

In [12]:
t1

NameError: name 't1' is not defined

# set - conjunto

In [13]:
l = [1, 2, 3, 4, 4, 5, 6, 7, 8, 8]
len(l)

10

In [14]:
s = set(l)
s

{1, 2, 3, 4, 5, 6, 7, 8}

# Dicion√°rio

In [15]:
d1 = { 'deeplearning': 10, 'python': 'data science' }
d1

{'deeplearning': 10, 'python': 'data science'}

In [16]:
type(d1)

dict

In [17]:
d1['cct'] = 'dc'
d1

{'deeplearning': 10, 'python': 'data science', 'cct': 'dc'}

In [18]:
d1.values()

dict_values([10, 'data science', 'dc'])

In [19]:
d1.keys()

dict_keys(['deeplearning', 'python', 'cct'])

In [20]:
d1.items()

dict_items([('deeplearning', 10), ('python', 'data science'), ('cct', 'dc')])

In [23]:
d1

{'deeplearning': 10, 'python': 'data science', 'cct': 'dc'}

In [26]:
l = list(d1.items())
l

[('deeplearning', 10), ('python', 'data science'), ('cct', 'dc')]

In [27]:
type(l)

list

In [28]:
l[0]

('deeplearning', 10)

In [29]:
l[0][0]

'deeplearning'

In [30]:
l[0][1]

10

In [31]:
d1

{'deeplearning': 10, 'python': 'data science', 'cct': 'dc'}

In [32]:
d2 = {'Ana': 8, 'Amanda': 7.5, 'Augusto': 9.2, 'Pedro': 10}
d2

{'Ana': 8, 'Amanda': 7.5, 'Augusto': 9.2, 'Pedro': 10}

In [33]:
d2['disciplinas'] = ['tcc', 'TEBD', 'IA', "CG"]
d2

{'Ana': 8,
 'Amanda': 7.5,
 'Augusto': 9.2,
 'Pedro': 10,
 'disciplinas': ['tcc', 'TEBD', 'IA', 'CG']}

In [34]:
d2['Ana']

8

In [35]:
d2['disciplinas']

['tcc', 'TEBD', 'IA', 'CG']

In [37]:
s = d2['disciplinas'][1]
s

'TEBD'

In [38]:
d2['endereco'] = {'rua': 'Bara√∫nas', 'numero': 361, 'bairro': 'Bodocong√≥'}
d2

{'Ana': 8,
 'Amanda': 7.5,
 'Augusto': 9.2,
 'Pedro': 10,
 'disciplinas': ['tcc', 'TEBD', 'IA', 'CG'],
 'endereco': {'rua': 'Bara√∫nas', 'numero': 361, 'bairro': 'Bodocong√≥'}}

In [40]:
d2['endereco']

{'rua': 'Bara√∫nas', 'numero': 361, 'bairro': 'Bodocong√≥'}

In [42]:
numero = d2['endereco']['numero']
numero

361

In [43]:
d2.keys()

dict_keys(['Ana', 'Amanda', 'Augusto', 'Pedro', 'disciplinas', 'endereco'])

In [44]:
d2.values()

dict_values([8, 7.5, 9.2, 10, ['tcc', 'TEBD', 'IA', 'CG'], {'rua': 'Bara√∫nas', 'numero': 361, 'bairro': 'Bodocong√≥'}])

In [45]:
d2

{'Ana': 8,
 'Amanda': 7.5,
 'Augusto': 9.2,
 'Pedro': 10,
 'disciplinas': ['tcc', 'TEBD', 'IA', 'CG'],
 'endereco': {'rua': 'Bara√∫nas', 'numero': 361, 'bairro': 'Bodocong√≥'}}

In [46]:
d2['endereco']['rua'] = 'Avenida das Bara√∫nas'
d2

{'Ana': 8,
 'Amanda': 7.5,
 'Augusto': 9.2,
 'Pedro': 10,
 'disciplinas': ['tcc', 'TEBD', 'IA', 'CG'],
 'endereco': {'rua': 'Avenida das Bara√∫nas',
  'numero': 361,
  'bairro': 'Bodocong√≥'}}

In [47]:
d2['Amanda'] = d2['Amanda'] + 1
d2

{'Ana': 8,
 'Amanda': 8.5,
 'Augusto': 9.2,
 'Pedro': 10,
 'disciplinas': ['tcc', 'TEBD', 'IA', 'CG'],
 'endereco': {'rua': 'Avenida das Bara√∫nas',
  'numero': 361,
  'bairro': 'Bodocong√≥'}}

## Express√µes Lambda

In [48]:
def pot(x):
    return x * x

pot(3)

9

In [49]:
potencia = lambda x : x * x

potencia(3)

9

In [50]:
addNum = lambda x,y : x + y

addNum(2,4)

6

# Comando for

In [51]:
range(10)

range(0, 10)

In [52]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
range(1,10)

range(1, 10)

In [54]:
list(range(1,10)) # EXCLUSIVE ( VALOR - 1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
l = ['tcc', 'TEBD', 'IA', "CG"]
l

['tcc', 'TEBD', 'IA', 'CG']

In [58]:
for elem in l:
    print(elem)

tcc
TEBD
IA
CG

In [59]:
c = 0
while c < 10:
    print (c)
    c += 1

0
1
2
3
4
5
6
7
8
9

In [61]:
c = 0
while c < 10:
    #print (c)
    c += 1
    
    if c == 6:
        break
        
print(c)

6

In [62]:
d1

{'deeplearning': 10, 'python': 'data science', 'cct': 'dc'}

In [63]:
d2

{'Ana': 8,
 'Amanda': 8.5,
 'Augusto': 9.2,
 'Pedro': 10,
 'disciplinas': ['tcc', 'TEBD', 'IA', 'CG'],
 'endereco': {'rua': 'Avenida das Bara√∫nas',
  'numero': 361,
  'bairro': 'Bodocong√≥'}}

In [64]:
d2.values()

dict_values([8, 8.5, 9.2, 10, ['tcc', 'TEBD', 'IA', 'CG'], {'rua': 'Avenida das Bara√∫nas', 'numero': 361, 'bairro': 'Bodocong√≥'}])

In [65]:
d2.keys()

dict_keys(['Ana', 'Amanda', 'Augusto', 'Pedro', 'disciplinas', 'endereco'])

In [66]:
for elem in d2.keys():
    print(elem)

Ana
Amanda
Augusto
Pedro
disciplinas
endereco

In [67]:
for elem in d2.keys():
    print(d2[elem])

8
8.5
9.2
10
['tcc', 'TEBD', 'IA', 'CG']
{'rua': 'Avenida das Bara√∫nas', 'numero': 361, 'bairro': 'Bodocong√≥'}

In [68]:
d2.items()

dict_items([('Ana', 8), ('Amanda', 8.5), ('Augusto', 9.2), ('Pedro', 10), ('disciplinas', ['tcc', 'TEBD', 'IA', 'CG']), ('endereco', {'rua': 'Avenida das Bara√∫nas', 'numero': 361, 'bairro': 'Bodocong√≥'})])

In [70]:
for chave, valor in d2.items():
    print(chave, ':', valor)
    break

Ana : 8

In [71]:
for chave, valor in d2.items():
    print(chave, ':', valor)

Ana : 8
Amanda : 8.5
Augusto : 9.2
Pedro : 10
disciplinas : ['tcc', 'TEBD', 'IA', 'CG']
endereco : {'rua': 'Avenida das Bara√∫nas', 'numero': 361, 'bairro': 'Bodocong√≥'}

# DataFrames

In [72]:
import pandas as pd

In [73]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [74]:
df['nome'] = ['tcc', 'TEBD', 'IA', 'CG']
df

   nome
0   tcc
1  TEBD
2    IA
3    CG

In [75]:
df['carga_horaria'] = [90, 90, 120, 120]
df

   nome  carga_horaria
0   tcc             90
1  TEBD             90
2    IA            120
3    CG            120

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome           4 non-null      object
 1   carga_horaria  4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [ ]:
Pais				Total_de_doses_aplicadas	Pessoas_totalmente_vacinadas percent_da_popula√ß√£o_vacinada
China continental	2612218000					1162488000				 		82.9
√çndia				1380223188					551003319					 	40.5
Estados Unidos		496239573					202527536					 	61.5
Brasil				325593485					141702263					 	67.1

In [77]:
data = {
    'Pais': ['China continental', '√çndia', 'Estados Unidos', 'Brasil' ],
    'Total_de_doses_aplicadas': [2612218000,138022318, 496239573, 325593485 ],
    'percent_vacinadas': [82.9, 40.5, 61.5, 67.1 ]
}
data

{'Pais': ['China continental', '√çndia', 'Estados Unidos', 'Brasil'],
 'Total_de_doses_aplicadas': [2612218000, 138022318, 496239573, 325593485],
 'percent_vacinadas': [82.9, 40.5, 61.5, 67.1]}

In [78]:
type(data)

dict

In [79]:
df = pd.DataFrame(data)
df

                Pais  Total_de_doses_aplicadas  percent_vacinadas
0  China continental                2612218000               82.9
1              √çndia                 138022318               40.5
2     Estados Unidos                 496239573               61.5
3             Brasil                 325593485               67.1

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pais                      4 non-null      object
 1   Total_de_doses_aplicadas  4 non-null      int64
 2   percent_vacinadas         4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

In [81]:
df[ ['Pais', 'percent_vacinadas'] ]

                Pais  percent_vacinadas
0  China continental               82.9
1              √çndia               40.5
2     Estados Unidos               61.5
3             Brasil               67.1

In [82]:
t = df.Total_de_doses_aplicadas.values
t

array([2612218000,  138022318,  496239573,  325593485])

In [83]:
t[0]

2612218000